.product-card {
  min-width: 268px;
  max-width: 268px;
}

/* pc -- product card */

.pc-image-div {
  height: 284px;
  min-height: 284px;
}

.pc-view-product-button {
  width: 100%;
  height: 36px;
  min-height: 36px;
  background-color: #165315;
}

.pc-type {
  color: #838383;
}

.pc-rating {
  color: #a5a1a1;
}

.pc-original-price {
  color: rgb(94, 90, 90, 0.7);
}

.pc-discounted-price {
  color: #5e5a5a;
}

.pc-add-to-cart-button {
  background-color: #165315;
  border-radius: 10px;
  height: 37px;
  width: 149px;
}

.pc-add-to-cart-button-minus {
  flex-grow: 1;
}

.pc-add-to-cart-button-add {
  flex-grow: 2;
}

.pc-rent-button {
  height: 37px;
  width: 114px;
  border: 1px solid #165315;
  border-radius: 10px;
  color: #144d14;
  font-weight: 500;
  font-size: 15px;
}
